// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include <winver.h>
#include "../common/Version.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    UNGLOM_VERSION_MAJOR, UNGLOM_VERSION_MINOR, UNGLOM_VERSION_PATCH, 0
PRODUCTVERSION UNGLOM_VERSION_MAJOR, UNGLOM_VERSION_MINOR, UNGLOM_VERSION_PATCH, 0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "Unglom contributors"
      VALUE "FileDescription",  "Unglom taskbar module"
      VALUE "FileVersion",      UNGLOM_VERSION_STRING
      VALUE "InternalName",     "UnglomTap"
      VALUE "LegalCopyright",   "Licensed under the Mozilla Public License 2.0"
      VALUE "OriginalFilename", "UnglomTap.dll"
      VALUE "ProductName",      "Unglom"
      VALUE "ProductVersion",   UNGLOM_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
